* {
    margin: 0;
    padding: 0;
}

.comunidades {
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comun {
    padding: 15px;
    background-color: whitesmoke;
    width: 50%;
    margin: 0 30px 0 0;
    border-radius: 0 30px 30px 0;

}

.comun p {
    font-size: 1rem;
    margin: 0 0 0 30px;
}

.comun h1 {
    font-size: 2rem;
    color: gray;
    margin: 0 0 0 30px;
}

.iconC {
    color: goldenrod;
    font-size: 70px;
    margin: 0 0 0 20px;
}

.imgCom img {
    width: 400px;
    height: 400px;
    margin: 0 225px;
    box-shadow: 2px 2px 5px 1px rgba(129, 117, 117, 0.699);
}

@media screen and (max-width: 1300px) {
    .comunidades {
        display: flex;
        flex-direction: column;
    }

    .comun {
        width: 80%;
        margin-top: 45px;
    }
}

@media screen and (max-width: 900px) {
    .imgCom img {
        flex-direction: column;
        margin: 0;
        width: 300px;
        height: 300px;
        border-radius: 30PX;  
        margin-top: 60px;
    }

}