* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quem {
    padding: 15px;
    background-color: whitesmoke;
    width: 50%;
    margin: 0 30px 0 0;
    border-radius: 0 30px 30px 0;

}

.quem p {
    font-size: 1rem;
    margin: 0 0 0 30px;
}

.quem h1 {
    font-size: 2rem;
    color: gray;
    margin: 0 0 0 30px;
}

.quemsomos {
    background-color: white;
    display: flex;
    align-items: center;
    margin-top: 60px;

}


.iconH {
    color: goldenrod;
    font-size: 70PX;
    margin: 0 0 0 20px;
}

.imagesHis img {
    width: 400px;
    height: 400px;
    margin: 35px;
    box-shadow: 2px 2px 5px 1px rgba(129, 117, 117, 0.699);

}

.imagesHis {
    display: flex;


}

.favela3 {
    margin-top: 30px;
}

@media screen and (max-width: 1300px) {
    .quemsomos {
        display: flex;
        flex-direction: column;
    }

    .quem {
        width: 80%;
        margin-top: 45px;
    }
}

@media screen and (max-width: 900px) {
    .imagesHis {
        flex-direction: column;
    }

    .imagesHis img {
        margin: 0;
        width: 300px;
        height: 300px;
        border-radius: 30PX;
        margin-top: 60px;
    }

    .quemsomos {
        width: 100%;
    }

}