*{
    margin: 0;
    padding: 0;
}
.quem{
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 50%;
    margin-left: 70PX;

}
.quem p{
    font-size: 30px;
}
.quem h1{
    font-size: 70px;
    color: gray;
}
.quemsomos{
    background-color: blue;
    display: flex;
    align-items: center;
    padding-top: 10px;

}

.iconH{
    color: goldenrod;
    font-size: 70PX;
}
.animacao1{
    height: 700px;
    width: 700px;
    margin-left: 400px;
}

