.container {
    display: flex;
    width: 70vw;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
  }
  
  .containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .containerInfo1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 50px;
  }
  
  .containerInfo1 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .containerInfo2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .totalizadores {
    display: flex;
    flex-wrap: wrap;
  }
  
  .totalizador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .totalizador:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .fraseAleatoria {
    margin-top: 20px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  