.card_principal{
  width: 100%;
  display: inline-block;
  position: relative;
}

.card_secundario{
  width: 100%;
}

.card-title{
  font-size: 24px;
  text-shadow: 0px 0px 5px black;
}

.card-text{
  text-decoration: none;
  color: #fff;
}