* {
    margin: 0;
    padding: 0;
}

.altofalante4 {
    height: 400px;
    width: 400px;
    background-color: rgb(255, 218, 55);
    border-radius: 50%;
    margin-top: 45px;
}

.noticias {
    background-color: yellow;
    display: flex;
    justify-content:space-around;

    

}

.notic {
    background-color: whitesmoke;
    width: 50%;
    margin-bottom: 45px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 30px;
    
 }

.notic p {
    font-size: 25px;
}

.notic h1 {
    font-size: 70px;
    color: gray;
}




.iconN {
    color: goldenrod;
    font-size: 70PX;
}