* {
    margin: 0;
    padding: 0;
}


.noticias {
    background-color: white;
    display: flex;
    align-items: center;

}

.notic {
    padding: 15px;
    background-color: whitesmoke;
    width: 50%;
    margin: 0 30px 0 0;
    border-radius: 0 30px 30px 0;
}

.notic p {
    font-size: 1rem;
    margin: 0 0 0 30px;
}

.notic h1 {
    font-size: 2rem;
    color: gray;
    margin: 0 0 0 30px;
}

.imagesNot img {
    width: 400px;
    height: 400px;
    margin: 35px;
    box-shadow: 2px 2px 5px 1px rgba(129, 117, 117, 0.699);

}

.imagesNot {
    display: flex;
}


.iconN {
    color: goldenrod;
    font-size: 70PX;
    margin: 0 0 0 20px;
}

.favela6 {
    margin-top: -20 px;
}

.favela7 {
    margin-top: 20px;
}

@media screen and (max-width: 1300px) {
    .noticias {
        display: flex;
        flex-direction: column;
    }

    .notic {
        width: 80%;
        margin-top: 45px;
    }

    .imagesNot img {
        border-radius: 30px
    }
}

@media screen and (max-width: 900px) {
    .imagesNot {
        flex-direction: column;
    }

    .imagesNot img {
        margin: 0;
        width: 300px;
        height: 300px;
        border-radius: 30PX;
        margin-top: 60px;
    }

}