*{
    margin: 0;
    padding: 0;
}
.notimg img{
    height: 400px;
    width: 400px;
}
.noticias{
    padding: 150px;
    background-color: yellow;
    display: flex;
}
.notic {
    background-color: whitesmoke;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.notic p {
    font-size: 25px;
}

.notic h1 {
    font-size: 70px;
    color: gray;
}




.iconN {
    color: goldenrod;
    font-size: 70PX;
}