* {
  margin: 0;
}

.container__principal {
  margin: 50px 0px;
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.container__secundario {
  display: flex;
  flex-direction: column;
}
