
.cardLabelEsporte {
    background-color: #fc006d;

}

.cardLabelEducacao{
    background-color: #3990FB;
}

.cardLabelEventos {
    background-color: #e4831a;
}

.cardLabelPadrao {
    background-color: #a23fe3;
}

.cardImg {
    width:fit-content;
}