* {
    margin: 0;
    padding: 0;
}

.miss {
    padding: 15px;
    background-color: whitesmoke;
    width: 50%;
    margin: 0 30px 0 0;
    border-radius: 0 30px 30px 0;
}

.miss p {
    font-size: 1rem;
    margin: 0 0 0 30px;
}

.miss h1 {
    font-size:1.7rem;
    color: var(--titleColor);
    margin: 0 0 0 30px;
}


.missao {
    background-color: white;
    display: flex;
    align-items: center;
}

.iconM {
    color: goldenrod;
    font-size: 70PX;
    margin: 0 0 0 20px;
}

.imageMiss img {
    width: 400px;
    height: 400px;
    margin: 0 200px;
    box-shadow: 2px 2px 5px 1px rgba(129, 117, 117, 0.699);
}

@media screen and (max-width: 1300px) {
    .missao {
        display: flex;
        flex-direction: column;
    }

    .miss {
        width: 80%;
        margin-top: 45px;
    }
}

@media screen and (max-width: 900px) {
    .imageMiss img {
        flex-direction: column;
        margin: 0;
        width: 300px;
        height: 300px;
        border-radius: 30PX;  
        margin-top: 60px;
    }

}