* {
    margin: 0;
    padding: 0;
}

.miss {
    padding: 15px;
    background-color: whitesmoke;
    width: 50%;
    margin: 0 30px 0 0;
    border-radius: 0 30px 30px 0;
}

.miss p {
    font-size: 1rem;
    margin: 0 0 0 30px;
}

.miss h1 {
    font-size: 2rem;
    color: gray;
    margin: 0 0 0 30px;
}


.missao {
    background-color: white;
    display: flex;
    align-items: center;
 }

.iconM {
    color: goldenrod;
    font-size: 70PX;
    margin: 0 0 0 20px;
}

.imageMiss img{
    width: 400px;
    height: 400px;
    margin: 0 200px;
}
