* {
    margin: 0;
    padding: 0;
}

.miss {
    background-color: whitesmoke;
    width: 75%;
    margin-bottom: 30px;
    border-radius: 30PX;
}

.miss p {
    font-size: 25px;
}

.miss h1 {
    font-size: 70px;
    color: gray;
}


.missao {
    background-color: RED;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
 }

.iconM {
    color: goldenrod;
    font-size: 70PX;
}


.bandeira{
    width: 400px;
    height: 400px;
}